*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    width:1200px;
  
    font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.question
{
    width:100%;
    height:65px;
    border-radius: 16px;

    background-color:green;
    padding:10px;
    margin:50px 0px 20px 0px;
    
    
    
}
.question >h2
{
    color:white;
    font:20px;
    text-align: center;

}
.choice-container
{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-radius:16px;
    border:2px solid black;
    padding:10px;
    
}
.choice-container :hover
{
    cursor: pointer;
}
.choice-prefix
{
    margin-right: 20px;
    width: 20px;
    height:30px;
    color:white;
    padding:5px;
    background-color:green;
    border-radius: 8px;
}
.choice-text
 {
    
    width: 100%;
}
.correct
{
    background-color: green;
}
.incorrect
{
    background-color: red;
}
#hud
{
    display: flex;
    justify-content: space-between;
}
.hud-prefix
{
    margin-left: 10px;
    font:20px;
    margin-bottom: 3px;
    font-weight: bold;
}
.hud-main-text
{
    text-align: center;
    color: green;
}
.progress-bar
{
    width: 200px;
    height:40px;
    border:3px solid green;
    margin-top: 10px;

}
#progressBarFull
{
    height: 34px;
    background-color: green;
    width: 0%;
    
    
}